    <section class="section has-background-white is-medium" id="about" style="margin-top: 144px;">
        <div class="container">
            <div class="columns">
                <div class="column is-four-fifths">
                    <div class="title-with-icon">
                        <img src="src/img/icons/icon-arrow-left.svg">
                        <p>{{ about.eyebrow | safe }}</p>
                    </div>
                    <div data-effect-4>
                        <p class="title">
                            {{ about.body | safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
