    <section class="section has-background-white is-medium pb-0" id="benefits">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths">
                    <div class="title-with-icon">
                        <img src="src/img/icons/icon-arrow-left.svg">
                        <p>{{ benefits.eyebrow | safe }}</p>
                    </div>
                    <p class="has-text-black is-black is-size-3 is-hidden-mobile">
                        {{ benefits.body | safe }}
                    </p>
                    <p class="has-text-black is-black is-size-4 is-hidden-tablet">
                        {{ benefits.body | safe }}
                    </p>
                </div>
            </div>
        </div>
    </section>
