    <section class="hero is-white is-fullheight" id="#">
        <div class="hero-head">
            {% include "partials/nav.njk" %}
        </div>
        {% include "partials/hero.njk" %}
    </section>
    {% include "partials/about.njk" %}
    {% include "partials/services.njk" %}
    {% include "partials/benefits.njk" %}
    {% include "partials/stats.njk" %}
    {% include "partials/research.njk" %}
    {% include "partials/feedback.njk" %}
    {% include "partials/partners.njk" %}
    {% include "partials/contacts.njk" %}
    {% include "partials/footer.njk" %}

    {% include "partials/feedback-modals.njk" %}

