@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@1,8..60,500&display=swap');

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	color: #212121;
}

i {
	font-family: "Source Serif 4", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: italic;
	font-size: 105%;
}

small {
	font-size: 75%;
}

.hero.is-fullheight .hero-body {
	align-items: baseline;
}

.hero-body p {
	font-size: 96px;
	font-weight: 400;
	line-height: 110%;
	color: #212121;
}

.hero-body i {
	font-weight: 600;
}

a.navbar-item:hover {
	background-color: #4D8FC4;
	color: #ffffff !important;
	transition: all .5s ease;
}

.jGravity {
	padding: 0;
	width: 100%;
	max-width: 100vw;
	transition: .5s ease-out;
}

.jGravity .tag {
	position: absolute;
	top: -200px;
}

.title-with-icon {
	margin-bottom: 56px;
	display: flex;
}

.title-with-icon img {
	width: 24px;
	margin-right: 8px;
}

.title-with-icon p {
	font-size: 20px;
	color: #212121;
	text-transform: uppercase;
	font-weight: 400;
}

#about p.title {
	font-size: 60px;
	font-weight: 400;
	color: #212121;
}

/* .cards-service {
	background-color: #ffffff;
	color: #212121;
	border-radius: 32px;
	border: 1px solid #212121;
	min-height: 512px;
	width: 100%;
	padding: 32px 32px 32px 40px;
	position: relative;
} */

.flip-card-front,
.flip-card-back {
	min-height: 400px;
}

.cards-service p.title {
	font-size: 32px;
	font-weight: 500;
	line-height: 125%;
	color: #212121;
}

.cards-service p.title i {
	font-weight: 600;
}

.cards-service .subtitle,
.cards-service .subtitle2,
.cards-service .cta {
	font-size: 20px;
	font-weight: 300;
	line-height: 150%;
	color: #212121;
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 0;
}

.cards-service .subtitle:hover {
	display: none;
}

/* .cards-service:hover {
	background-color: #4D8FC4;
	border: 1px solid #4D8FC4;
	transition: all .5s ease;
} */

.cards-service:hover .cta>a,
.cta>a {
	position: relative;
	color: #ffffff;
}

.cards-service:hover p,
.cards-service:hover li {
	color: #ffffff;
	transition: all .5s ease;
}

.cards-service .cta {
	display: none;
}

.cards-service:hover .subtitle {
	display: none;
}

.cards-service:hover .cta {
	display: block;
	transition: all .5s ease;
}

#services .cards-service .subtitle2,
#research .cards-service .subtitle {
	display: none;
}

#services .cards-service:hover .subtitle2,
#research .cards-service:hover .subtitle {
	display: block;
}

#services .cards-service:hover .title,
#research .cards-service:hover p.title {
	display: none;
}

.colorful {
	background-color: #4D8FC4 !important;
	color: #ffffff !important;
}

/* #footer {
	margin-bottom: 52px;
} */

/* .icon-hand {
	position: absolute;
	bottom: -22px;
	left: 640px;
} */

.text-links {
	color: #212121;
}

.text-links:hover {
	color: #4D8FC4;
	transition: all .5s ease;
}

a.navbar-item:hover {
	background-color: #ffffff !important;
	color: #4D8FC4 !important;
	transition: all .5s ease;
}

.tag>svg {
	padding-left: 24px;
	height: 48px;
}

.tag:hover>svg path {
	fill: #fff;
	transition: all .5s ease;
}

a.ts {
	color: #212121;
}

a.ts:hover {
	color: #4D8FC4;
}

/* Modals */

.modal-card-head,
.modal-card-body,
.modal-card-foot {
	background-color: #fafafc;
	box-shadow: none;
}

.modal-card-head {
	justify-content: flex-end;
	padding: 24px;
}

.modal-card-body {
	padding: 0 24px;
}

.modal-card-foot {
	padding: 12px;
}

.navbar-burger {
	color: #212121;
}

.navbar-burger:hover {
	color: #4D8FC4;
	background-color: #ffffff;
}

.navbar-menu {
	background-color: #fff;
	box-shadow: none;
}

.navbar-link,
a.navbar-item {
	text-align: center;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

/* Бегущая строка */

.services-ticker-block {
	position: relative;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	margin-top: 120px;
}

.stb_line_single {
	position: relative;
	white-space: nowrap;
	padding: 0;
	will-change: transform;
}

.stb-item {
	padding: 0;
	display: inline-block;
	margin-right: 10rem;
}

.stb-item:hover p {
	color: #4D8FC4 !important;
}

.stb-item p.title {
	font-size: 112px;
	line-height: 1;
	color: #212121;
	font-weight: 500;
	margin-bottom: 8px;
}

.stb-item p.subtitle {
	font-size: 20px;
	line-height: 1.5;
	color: #212121;
	font-weight: 400;
	text-transform: uppercase;
}

.hover-image {
	width: 128px;
	height: 29px;
}

.hover-image:hover {
	content: url('../../src/img/zimablue.svg');
}

.logo-partners {
	height: 172px;
	filter: grayscale(100%) contrast(150%);
	transition: filter 0.3s;
}

.logo-partners:hover {
	filter: grayscale(0);
}

.cards-research:first-of-type {
	margin-top: 68px;
}

.cards-research {
	border-bottom: 1px solid #dfdfdf;
	padding: 24px 0;
	align-items: center
		/* margin-bottom: 48px; */
}

.cards-research:last-of-type {
	border-bottom: none;
	/* margin-bottom: 0; */
}

.cards-research:hover p {
	color: #4D8FC4;
	transition: all .5s ease;
}

.cards-research:hover path {
	fill: #4D8FC4;
	transition: all .5s ease;
}

.cards-research p {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	padding-left: 0;
	padding-right: 64px;
}

.cards-research .icon {
	width: 26px;
	height: 32px;
}

.tag {
	font-size: 60px;
	font-weight: 300;
	line-height: 100%;
	border-radius: 64px;
	background-color: #EAE6E6;
	color: #212121;
	text-transform: lowercase;
}

.tabs {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.tab-button {
	padding: 16px 48px 24px 48px;
	background-color: #EAE6E6;
	color: #212121;
	text-transform: lowercase;
	transition: all .5s ease;
	font-size: 60px;
	font-weight: 300;
	line-height: 100%;
	border-radius: 64px;
	margin: 0 8px 8px 0;
}

.tab-button.active,
.tab-button:hover {
	background-color: #4D8FC4;
	color: #ffffff;
	transition: all .5s ease;
}

.tab-content {
	display: none;
}

.tab-content>div {
	min-height: 512px;
}

.tab-content .flip-card-front,
.tab-content .flip-card-back {
	min-height: 400px;
}

.tab-content.active {
	display: block;
}

div.bottom-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 24vh;
}

.bottom-links .tag {
	position: absolute;
	white-space: nowrap;
}

.bottom-links .tag:hover {
	background-color: #4D8FC4;
	color: #ffffff;
	transition: all .5s ease;
}

.bottom-links .tag:nth-child(1) {
	bottom: 252px;
	left: 240px;
	transform: rotate(-11deg);
}

.bottom-links .tag:nth-child(2) {
	bottom: 120px;
	left: 120px;
	transform: rotate(0);
}

.bottom-links .tag:nth-child(3) {
	bottom: 126px;
	left: 392px;
	transform: rotate(6deg);
}

.bottom-links .tag:nth-child(4) {
	bottom: 130px;
	left: 779px;
	transform: rotate(-45deg);
}

.bottom-links .tag:nth-child(5) {
	bottom: 211px;
	right: -90px;
	transform: rotate(-90deg);
}

.bottom-links .tag:nth-child(6) {
	bottom: 0;
	left: 0;
	background-color: #4D8FC4;
	color: #ffffff;
	transform: rotate(0deg);
}

.bottom-links .tag:nth-child(6):hover {
	background-color: #FE6A0B;
	color: #ffffff;
	transition: all .5s ease;
}

.bottom-links .tag:nth-child(7) {
	bottom: 0;
	right: 0;
	transform: rotate(0deg);
}

.is-three-quarters .flip-card .button {
	width: 100%;
}



@media (min-width: 0) and (max-width: 1022px) {

	.hero-body p {
		font-size: 2em;
		font-weight: 500;
		line-height: 1.5;
	}

	.tag {
		font-size: 1.8em;
		border-radius: 32px;
	}

	#about p.title {
		font-size: 2em;
	}

	/* .cards-service {
		padding: 16px 16px 16px 20px;
	} */

	.tab-content>div {
		min-height: 568px;
	}

	.tab-content .flip-card-front,
	.tab-content .flip-card-back {
		min-height: 456px;
	}


	.tab-content .cards-service .title {
		font-size: 1.4em;
	}

	.cards-service p.title {
		font-size: 1.4em;
	}

	.is-size-3 {
		font-size: 24px;
	}

	.tabs {
		flex-flow: row nowrap;
	}

	.tab-button {
		font-size: 1.8em;
		margin-right: .2em;
		padding: 16px 24px;
		border-radius: 32px;
	}

	.stb-item p.title {
		font-size: 12vw;
		margin-bottom: 8px !important;
	}

	.tag>svg {
		padding-left: 10px;
		height: 24px;
	}

	div.bottom-links {
		height: 36vh;
	}

	.bottom-links .tag:nth-child(1) {
		bottom: 59vw;
	}

	.bottom-links .tag:nth-child(2) {
		bottom: 23vw;
		left: 28vw;
		transform: rotate(-15deg);
	}

	.bottom-links .tag:nth-child(3) {
		bottom: 40vw;
		left: 26vw;
	}

	.bottom-links .tag:nth-child(4) {
		bottom: 20vw;
		left: -14vw;
		transform: rotate(-35deg);
	}

	.bottom-links .tag:nth-child(5) {
		bottom: 36vw;
		right: -13vw;
	}

	.bottom-links .tag:nth-child(7) {
		bottom: 14vw;
		right: -5vw;
	}
}

@media (min-width: 318px) {

	div.bottom-links {
		height: 36vh;
	}

	.bottom-links .tag {
		font-size: 1.4em;
	}

	.bottom-links .tag:nth-child(1) {
		bottom: 52vw;
		left: 50vw;
		transform: rotate(9deg);
	}

	.bottom-links .tag:nth-child(2) {
		bottom: 39vw;
		left: 28vw;
		transform: rotate(0deg);
	}

	.bottom-links .tag:nth-child(3) {
		bottom: 53vw;
		left: -18vw;
		transform: rotate(-117deg);
	}

	.bottom-links .tag:nth-child(4) {
		bottom: 20vw;
		left: -4vw;
		transform: rotate(-13deg);
	}

	.bottom-links .tag:nth-child(5) {
		bottom: 36vw;
		right: -13vw;
		transform: rotate(0deg);
	}

	.bottom-links .tag:nth-child(6) {
		bottom: 0;
		left: -5vw;
		transform: rotate(0deg);
	}

	.bottom-links .tag:nth-child(7) {
		bottom: 14vw;
		right: 0;
		transform: rotate(0deg);
	}
}

@media (min-width: 373px) {

	.bottom-links .tag {
		font-size: 1.7em;
	}

	.bottom-links .tag:nth-child(1) {
		bottom: 49vw;
		transform: rotate(37deg);
	}

	.bottom-links .tag:nth-child(2) {
		bottom: 23vw;
		left: 23vw;
		transform: rotate(-21deg);
	}

	.bottom-links .tag:nth-child(3) {
		bottom: 61vw;
		left: 9vw;
	}

	.bottom-links .tag:nth-child(4) {
		bottom: 27vw;
		left: -14vw;
		transform: rotate(-35deg);
	}

	.bottom-links .tag:nth-child(5) {
		bottom: 30vw;
		right: -5vw;
	}

	.bottom-links .tag:nth-child(7) {
		bottom: 15vw;
		right: -5vw;
	}
}

@media (min-width: 478px) {

	.hero-body p {
		font-size: 3em;
		line-height: 1.25;
	}

	.bottom-links .tag {
		font-size: 1.7em;
	}

	.bottom-links .tag:nth-child(1) {
		bottom: 39vw;
		left: 45vw;
	}

	.bottom-links .tag:nth-child(2) {
		bottom: 15vw;
		left: 33vw;
	}

	.bottom-links .tag:nth-child(3) {
		bottom: 43vw;
		left: -10vw;
		transform: rotate(-132deg);
	}

	.bottom-links .tag:nth-child(4) {
		bottom: 22vw;
		left: 10vw;
	}

	.bottom-links .tag:nth-child(5) {
		bottom: 24vw;
		right: 6vw;
	}

	.bottom-links .tag:nth-child(6) {
		left: 0;
	}

	.bottom-links .tag:nth-child(7) {
		bottom: 12vw;
		right: 0;
	}
}

@media (min-width: 766px) {

	.hero-body p {
		font-size: 80px;
		line-height: 1.25;
	}

	.tag {
		font-size: 2.4em;
		border-radius: 64px;
	}

	#about p.title {
		font-size: 48px;
	}

	.cards-service {
		min-height: 240px;
	}

	.flip-card-front,
	.flip-card-back {
		min-height: 176px;
	}

	.cards-service p.title {
		font-size: 32px;
	}

	.tab-content>div {
		min-height: 240px;
	}

	.tab-content .flip-card-front,
	.tab-content .flip-card-back {
		min-height: 176px;
	}

	.bottom-links .tag {
		font-size: 2em;
	}

	.bottom-links .tag:nth-child(1) {
		bottom: 7vw;
		left: 48vw;
	}

	.bottom-links .tag:nth-child(2) {
		bottom: 13vw;
		transform: rotate(-80deg);
	}

	.bottom-links .tag:nth-child(3) {
		bottom: 18vw;
		left: -7vw;
		transform: rotate(-132deg);
	}

	.bottom-links .tag:nth-child(4) {
		left: 18vw;
	}

	.bottom-links .tag:nth-child(5) {
		bottom: 9vw;
		right: 11vw;
		transform: rotate(3deg);
	}

	.bottom-links .tag:nth-child(6) {
		left: 0;
	}

	.bottom-links .tag:nth-child(7) {
		bottom: 0;
		right: 0;
	}

	.is-three-quarters .flip-card .button {
		width: 50%;
	}
}

@media (min-width: 1022px) {
	.cards-service p.title {
		font-size: 28px;
	}

	.cards-service {
		min-height: 560px;
	}

	.flip-card-front,
	.flip-card-back {
		min-height: 496px;
	}

	.tab-button {
		font-size: 36px;
	}

	.tab-content>div {
		min-height: 408px;
	}

	.tab-content .flip-card-front,
	.tab-content .flip-card-back {
		min-height: 296px;
	}


	.bottom-links .tag {
		font-size: 2.4em;
	}

	.bottom-links .tag:nth-child(1) {
		bottom: 5vw;
	}

	.bottom-links .tag:nth-child(2) {
		bottom: 11vw;
		left: 37vw;
		transform: rotate(-42deg);
	}

	.bottom-links .tag:nth-child(4) {
		bottom: 14vw;
		left: 20vw;
	}

	.bottom-links .tag:nth-child(3) {
		bottom: 17vw;
		left: -2em;
		transform: rotate(-127deg);
	}

	.bottom-links .tag:nth-child(5) {
		bottom: 4vw;
		right: 16vw;
		transform: rotate(-38deg);
	}
}

@media (min-width: 1278px) {

	.hero-body p {
		font-size: 96px;
		line-height: 110%;
	}

	.tag {
		font-size: 60px;
	}

	#about p.title {
		font-size: 60px;
	}

	.cards-service p.title {
		font-size: 32px;
	}

	.cards-service {
		min-height: 464px;
	}

	.flip-card-front,
	.flip-card-back {
		min-height: 400px;
	}

	.bottom-links .tag {
		font-size: 60px;
	}

	.bottom-links .tag:nth-child(1) {
		bottom: 252px;
		left: 240px;
		transform: rotate(-11deg);
	}

	.bottom-links .tag:nth-child(2) {
		bottom: 120px;
		left: 120px;
		transform: rotate(0);
	}

	.bottom-links .tag:nth-child(3) {
		bottom: 126px;
		left: 392px;
		transform: rotate(6deg);
	}

	.bottom-links .tag:nth-child(4) {
		bottom: 5.9em;
		left: 12.5em;
		transform: rotate(-48deg);
	}

	.bottom-links .tag:nth-child(5) {
		bottom: 211px;
		right: -90px;
		transform: rotate(-90deg);
	}

	.bottom-links .tag:nth-child(6) {
		bottom: 0;
		left: 0;
		background-color: #4D8FC4;
		color: #ffffff;
		transform: rotate(0deg);
	}

	.bottom-links .tag:nth-child(6):hover {
		background-color: #FE6A0B;
		color: #ffffff;
		transition: all .5s ease;
	}

	.bottom-links .tag:nth-child(7) {
		bottom: 0;
		right: 0;
		transform: rotate(0deg);
	}
}

@media (min-width: 1438px) {
	.bottom-links .tag:nth-child(4) {
		bottom: 130px;
		left: 779px;
		transform: rotate(-45deg);
	}
}

.flip-card {
	position: relative;
	perspective: 1000px;
	min-height: 512px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-color: #ffffff;
	color: #212121;
	border-radius: 32px;
	border: 1px solid #212121;
	min-height: 512px;
	width: 100%;
	padding: 32px 32px 32px 40px;
}

.flip-card-back {
	transform: rotateY(180deg);
	background-color: #4D8FC4;
	border: 1px solid #4D8FC4;
	transition: all .5s ease;
}

@media (hover: hover) and (pointer: fine) {
	.flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	}

	.flip-icon {
		display: none;
	}
}

@media (hover: none) and (pointer: coarse) {

	.flip-icon {
		position: absolute;
		bottom: 24px;
		right: 24px;
		background-color: #212121;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		z-index: 2;
	}

	.icon {
		transform: rotate(0deg);
		transition: transform 0.3s ease;
		width: 20px;
	}

	.icon::before,
	.icon::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: white;
		transition: transform 0.3s ease;
	}

	.icon::before {
		transform: translateY(-50%);
	}

	.icon::after {
		transform: translateY(-50%) rotate(90deg);
	}

	.flip-icon.active .icon {
		transform: rotate(45deg);
	}

}

.flip-card .button {
	text-transform: uppercase;
	font-weight: 400;
	border-radius: 16px;
	border: 1px solid;
	padding: 10px;
	opacity: .8;
}

.flip-card .button:hover {
	opacity: 1;
}

.feedback {
	position: absolute;
	bottom: 24px;
	right: 24px;
	background-color: #212121;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 2;
	font-size: 24px;
	line-height: 100%;
	color: #ffffff;
}