@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@1,8..60,500&display=swap');

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	color: #212121;
}

i {
	font-family: "Source Serif 4", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: italic;
}

small {
	font-size: 75%;
}

.hero.is-fullheight .hero-body {
	align-items: baseline;
}

.hero-body p {
	font-size: 96px;
	font-weight: 400;
	line-height: 110%;
	color: #212121;
}

.hero-body i {
	font-weight: 600;
}

a.navbar-item:hover {
	background-color: #4D8FC4;
	color: #ffffff !important;
	transition: all .5s ease;
}

.jGravity {
	padding: 0;
	width: 100%;
	max-width: 100vw;
	transition: .5s ease-out;
}

.jGravity .tag {
	position: absolute;
	top: -200px;
	left: 35%;
	display: flex;
}

.title-with-icon {
	margin-bottom: 56px;
	display: flex;
}

.title-with-icon img {
	width: 24px;
	margin-right: 8px;
}

.title-with-icon p {
	font-size: 20px;
	color: #212121;
	text-transform: uppercase;
	font-weight: 400;
}

#about p.title {
	font-size: 60px;
	font-weight: 400;
	color: #212121;
}

.cards-service {
	background-color: #ffffff;
	color: #212121;
	border-radius: 32px;
	border: 1px solid #212121;
	min-height: 464px;
	width: 100%;
	padding: 32px 32px 32px 40px;
}

.cards-service p.title {
	font-size: 40px;
	font-weight: 500;
	line-height: 125%;
	color: #212121;
}

.cards-service .subtitle,
.cards-service .cta {
	font-size: 20px;
	font-weight: 300;
	line-height: 150%;
	color: #212121;
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 0;
}

.cards-service .subtitle:hover {
	display: none;
}

.cards-service:hover {
	background-color: #4D8FC4;
	border: 1px solid #4D8FC4;
	transition: all .5s ease;
}

.cards-service:hover p,
.cards-service:hover li,
.cards-service:hover a {
	color: #ffffff;
	transition: all .5s ease;
}

.cards-service .cta {
	display: none;
}

.cards-service:hover .subtitle {
	display: none;
}

.cards-service:hover .cta {
	display: block;
	transition: all .5s ease;
}

/* Бегущая строка */

.services-ticker-block {
	position: relative;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	margin-top: 120px;
}

.stb_line_single {
	position: relative;
	white-space: nowrap;
	padding: 0;
	will-change: transform;
}

.stb-item {
	padding: 0;
	display: inline-block;
	margin-right: 10rem;
}

.stb-item:hover p {
	color: #4D8FC4!important;
}

.stb-item p.title {
	font-size: 112px;
	line-height: 1;
	color: #212121;
	font-weight: 500;
	margin-bottom: 8px;
}

.stb-item p.subtitle {
	font-size: 20px;
	line-height: 1.5;
	color: #212121;
	font-weight: 400;
	text-transform: uppercase;
}

.logo-partners {
	max-height: 128px;
	filter: grayscale(100%) contrast(150%);
	transition: filter 0.3s;
}

.logo-partners:hover {
	filter: grayscale(0);
}

.cards-research:first-of-type {
	margin-top: 68px;
}

.cards-research {
	border-bottom: 1px solid #dfdfdf;
	padding: 24px 0;
	align-items: center
		/* margin-bottom: 48px; */
}

.cards-research:last-of-type {
	border-bottom: none;
	/* margin-bottom: 0; */
}

.cards-research:hover p {
	color: #4D8FC4;
	transition: all .5s ease;
}

.cards-research:hover path {
	fill: #4D8FC4;
	transition: all .5s ease;
}

.cards-research p {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	padding-left: 0;
	padding-right: 64px;
}

.cards-research .icon {
	width: 26px;
	height: 32px;
}

.tag {
	font-size: 60px;
	font-weight: 300;
	line-height: 100%;
	border-radius: 64px;
	background-color: #EAE6E6;
	color: #212121;
	text-transform: lowercase;
}

.tab-button {
	padding: 16px 48px 24px 48px;
	background-color: #EAE6E6;
	color: #212121;
	text-transform: lowercase;
	transition: all .5s ease;
	font-size: 60px;
	font-weight: 300;
	line-height: 100%;
	border-radius: 64px;
	margin-right: 20px;
}

.tab-button.active,
.tab-button:hover {
	background-color: #4D8FC4;
	color: #ffffff;
	transition: all .5s ease;
}

.tab-content {
	display: none;
}

.tab-content>div {
	min-height: 464px;
}

.tab-content.active {
	display: block;
}

div.bottom-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 24vh;
}

.bottom-links .tag {
	position: absolute;
	white-space: nowrap;
}

.bottom-links .tag:hover {
	background-color: #4D8FC4;
	color: #ffffff;
	transition: all .5s ease;
}

.bottom-links .tag:nth-child(1) {
	bottom: 252px;
	left: 240px;
	transform: rotate(-11deg);
}

.bottom-links .tag:nth-child(2) {
	bottom: 120px;
	left: 120px;
	transform: rotate(0);
}

.bottom-links .tag:nth-child(3) {
	bottom: 126px;
	left: 392px;
	transform: rotate(6deg);
}

.bottom-links .tag:nth-child(4) {
	bottom: 130px;
	right: 84px;
	transform: rotate(-45deg);
}

.bottom-links .tag:nth-child(5) {
	bottom: 211px;
	right: -90px;
	transform: rotate(-90deg);
}

.bottom-links .tag:nth-child(6) {
	bottom: 0;
	left: 0;
	background-color: #4D8FC4;
	color: #ffffff;
	transform: rotate(0deg);
}

.bottom-links .tag:nth-child(6):hover {
	background-color: #EAE6E6;
	color: #212121;
	transition: all .5s ease;
}

.bottom-links .tag:nth-child(7) {
	bottom: 0;
	right: 0;
	transform: rotate(0deg);
}

/* #footer {
	margin-bottom: 52px;
} */

/* .icon-hand {
	position: absolute;
	bottom: -22px;
	left: 640px;
} */

.text-links {
	color: #212121;
}

.text-links:hover {
	color: #4D8FC4;
	transition: all .5s ease;
}

a.navbar-item:hover {
	background-color: #ffffff !important;
	color: #4D8FC4 !important;
	transition: all .5s ease;
}

.colorful {
	background-color: #4D8FC4;
	color: #ffffff;
}

.tag > svg {
	padding-left: 24px;
	height: 48px;
}

.tag:hover > svg path {
	fill: #212121;
	transition: all .5s ease;
}

a.ts {
	color: #212121;
}

a.ts:hover {
	color: #4D8FC4;
}